Flask==2.3.2
flask-cors==4.0.0
easyocr==1.7.1
opencv-python-headless==4.9.0.80
numpy==1.24.4
Pillow==10.2.0
matplotlib==3.7.1
scikit-image==0.22.0
scipy==1.10.1
pytesseract==0.3.10
passporteye==2.3.2
gunicorn==21.2.0
werkzeug==2.3.4